
:root {
   
    --shadow: 0 1px 5px rgba(104, 104, 104 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

/* Here starts header container */

.item1 img {
    width: 100%;
    height: auto;
    padding-top:10px;
}
.brand {
    display:block;
    width:30%;
    height: auto;
   
}
.item1 {
  width: 350px;
  height:175px;
    grid-area: brand;
  }
  
  .item2 {
    
    grid-area: global;
  }
  
  .item3 {
  
    grid-area: tools;
  }
 
  
  .header {
    font-size: 1.5em;
    min-height: 150px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "brand brand"
      "global tools";
    margin-top:20px;
    margin-bottom: 20px;
      
      
  }
/* Button */
  .more {
    background:    #0a0e11;
    background:    linear-gradient(#3d85c6, #0a0e11 50%, #3d85c6);
    border:        1px solid #556699;
    border-radius: 1000px;
    box-shadow:    0 1px #444444;
    padding:       8px 21px;
    color:         #ffffff;
display:       inline-block;
font:          normal bold 24px/1 "Droid Serif", serif;
text-align:    center;
text-shadow:   1px 1px #000000;

  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* navigation */
  .navi {
    list-style: none;
    font-weight: bold
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    
  }
  .navi li {
    display: block;
    color: black 
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float:left;
  }
  .navi a{
    text-decoration: none;
    color:black;
  }

  li>a:hover {
    background-color: #111111;
    color:white;
  }

  
  /* here starts header media queries */
  @media (min-width: 576px){
    .header{
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr ;
      grid-template-areas:
        "brand  global tools"
    }
    .item1 {
        width: 150px;
        height:75px;
    }
    .item1 img {
        width: 100%;
        height: auto;
        padding-top:70px;
  } }
  
  @media (min-width: 992px){
    .header{
      
      grid-template-columns: 1fr 60% 2fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      "brand global tools"
        
    }
    .item1 {
        width: 150px;
        height:75px;
    }
    .item1 img {
        width: 100%;
        height: auto;
        padding-top:70px;
}
   li.li1 {
    float: left;
     
   }

   .item2 {
     display: flex;
     justify-content: center;
   }
}
    
/* Here ends header container */

/* Here starts a body */

.item4 {
  
    grid-area: hero;
    max-height: 241px;
  }
  
  
  .item6 {
    text-align: center;
    grid-area: article;
  }
  .item7 {
    grid-area: ad;
    
  }
  
  .item8 {
    
    grid-area: article_li;
  }
  
  .item9 {
    background: rgb(225, 228, 87);
    grid-area: sidebar;
    display:none;
  }

  .body {
    font-size: 1.5em;
    min-height: 700px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 50%;
    grid-gap: 20px;
    grid-template-areas:
      "hero"
      "article"
      "ad"
      "article_li";
    margin-top:20px;
    margin-bottom: 20px;
  }

  /* hero */ 
.hero-image {
  background-image:linear-gradient(rgba(41, 38, 38, 0.5), rgba(37, 31, 31, 0.993)), url(/img/photographer.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  background-blend-mode: overlay;
  position:relative;
  height:241px;
}
.capture {
  color:lightgrey;
  /* padding: 75px 125px;
  padding-left:150px; */
  font-size:2em;
  font-family: 'Lobster', cursive;
  opacity: 0.6;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 2px;
}
/* Sākas hero poga */
.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#5b5e5d;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#c7c5c5;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.kaka {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 241px;
  padding:30px;
  box-sizing: border-box;
  
}
/* Main contain */
.paragraph {
  margin: 50px;
}
.title {
  text-align: center;
}
/* comercial ad!! */
.img-ad {
  height: 100%;
  width: 100%
}

/* artical */

.art-li {
  margin: 15px 0;
  font-weight: bold;
}


 /* here starts body media queries */

    @media (min-width: 576px){
        
        .item9 {
            display: block;
        }
        .body{
          grid-template-columns: 2fr 2fr;
          grid-template-rows: 1fr 2fr 5fr 2fr;
          grid-template-areas: 
            "hero hero"
            "article ad"
            "article_li article_li"
            "sidebar sidebar ";
        }
        .capture {
          font-size:3em;
        }
       .img-ad {
         max-height: 241px;
       }
      }
      
      @media (min-width: 992px){
        .item4 {
            display:block;  
            /* to hide hero in mobile version*/
        }
        .item9 {
            display: block;
        }
        .body{
          
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 2fr 6fr;
          grid-template-areas:
          "hero hero hero ad"
          "article article_li article_li sidebar"
            
        }
        .capture {
          font-size:4em;
        }
        
    }
        /* Here ends media queries */


        /* Here starts footer */
        .item10 {
            grid-area: footer;
            background-color: bisque;
        }

        .footer {
            font-size: 1.5em;
            min-height: 100px;
            width: 100%;
            background: LightGray;
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr ;
            grid-template-areas:
              "footer";
        }
    